.flex {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
.display {
  margin: 0 100px;
}
.ccontainer {
  height: 440px;
}
.ccontainer > div {
  float: left;
}
.crumbadd {
  padding: 8px 50px;
}
.crumbadd a {
  color: #8D8D8D;
}
.leftImg {
  width: 375px;
  height: 400px;
}
.chooseImg {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  width: 375px;
  height: 65px;
}
.chooseImg > img {
  width: 55px;
  height: 55px;
  margin: 0px 3px;
  cursor: pointer;
}
.chooseImg > img:hover {
  border: 1px solid gainsboro;
}
.centerMsg {
  width: 625px;
  height: 440px;
}
.centerMsg > div {
  padding: 0px 15px;
  margin: 30px 0px;
  color: #757575;
}
#shop-data {
  margin: 20px 0px;
}
#shop-data h4 {
  font-weight: bold;
  margin-bottom: 30px;
}
.labe {
  display: inline-block;
  width: 60px;
}
.showPrice {
  background-color: #f7f7f7;
  padding: 15px 0px 15px 15px !important;
}
.showPrice h5 {
  display: block;
}
.showPrice .uptodayCommon {
  float: right;
  padding: 0px 15px;
}
.showPrice .uptodayPrize {
  color: red;
  font-weight: bold;
  font-size: 22px;
}
.chooseSize {
  width: 370px;
  height: 40px;
}
.chooseSize h6 {
  float: left;
  padding: 8px 0px;
}
.chooseSize ul > li {
  float: left;
  padding: 5px;
  border: 1px solid darkgray;
  margin: 0 5px;
}
.chooseSize ul > li:hover {
  cursor: pointer;
  border-color: red ;
}
.Size-active {
  border: 1px solid red !important;
  color: red;
}
.choosePlace {
  position: relative;
}
.choosePlace .activePlace {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid gray;
}
.choosePlace .activePlace:hover {
  cursor: pointer;
}
.choosePlace .dropdownPlace {
  border: 1px solid gray;
  position: absolute;
  left: 79px;
  top: 22px;
}
.choosePlace .dropdownPlace li {
  width: 70px;
  padding: 5px 0px;
  text-align: center;
  background-color: #789fff;
  color: white;
}
.choosePlace .dropdownPlace li:hover {
  cursor: pointer;
  background-color: #466fff;
}
.num {
  display: inline-block;
  margin-right: 10px;
}
.num input {
  display: inline-block;
  width: 50px !important;
}
/*用户评价*/
h3 {
  clear: both;
  color: #393333;
  margin: 15px 0px 15px 15px;
  text-shadow: 0 0 3px #B7B7B7;
}
.mark {
  background-color: rgba(251, 251, 251, 0.8);
  border-radius: 3px;
}
.mark li {
  border-bottom: solid 1px #DCDCDC;
}
.mark li:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.mark li a {
  display: inline-block;
  color: #262626;
}
.mark li a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.mark li h5 {
  padding-top: 15px;
}
.mark li p {
  max-height: 180px;
  text-indent: 2em;
  overflow: hidden;
  margin: 10px 0px;
}
.mark .pic {
  width: 70px;
  height: 70px;
  float: left;
  margin: 10px 15px 10px 5px;
}
.date {
  display: block;
  float: right;
  margin-right: 10px;
  color: #999999;
}
.detail-text {
  border: 1px solid #efefef;
  padding: 5px 0px;
}
.detail-text ul {
  width: 100%;
  height: 40px;
}
.detail-text ul li {
  float: left;
  padding: 10px 30px;
}
.detail-img {
  margin: 0 130px;
}
.detail-img img {
  border-bottom: 1px dashed #F0F0F0;
}
.pager li a {
  border: none;
  color: white;
  background-color: rgba(3, 101, 192, 0.6);
}
.pager li a:hover {
  background-color: rgba(3, 101, 192, 0.7);
}
.hide {
  display: none;
}
.fixtop {
  position: fixed;
  top: 0px;
  background-color: #F5F5F5;
}
