<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/Shop/app/components/header/top.css" />
		
	</head>

	<body>
            
		<div class="base-topbox">
			<div class="base-small-nav">
				<ul class="base-choseCity">
					<a href="/Shop/login">登陆</a>
					<span>|</span>
					<a href="/Shop/register">注册</a>
					<a href="#"><span class="fa fa-map-marker"></span> 送至：广州市 <span  class="fa fa-angle-down"></span></a>
				</ul>
				<ul class="base-nav-item" id="nav-item">
					<li>
						<a href="#"><span class="fa fa-user"></span> 我的农汇 <span  class="fa fa-angle-down"></span></a>

					</li>
					<li><a href="#"><span class="fa fa-mobile"></span> 手机农汇 <span  class="fa fa-angle-down"></span></a></li>
					<li><a href="#"><span class="fa fa-cubes"></span> 我的订单 <span  class="fa fa-angle-down"></span></a></li>
					<li>
						<a href="#"><span class="fa fa-question-circle"></span> 客户服务 <span  class="fa fa-angle-down"></span></a>
						<div class="dropdown-item hide">
							<ul>
								<li><a href="#">帮助中心</a></li>
								<li><a href="#">售后服务</a></li>
								<li><a href="#">在线客服</a></li>
								<li><a href="#">售后服务</a></li>
								<li><a href="#">意见建议</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="base-logo-nav">
			<a href="/Shop/index"><img src="/Shop/app/page/index/logo.png" height="90px" width="200px"></a>
			<div class="base-search">
				<div class="input-group small-search">
					<input type="text" class="form-control" placeholder="超值种子" />
					<span class="input-group-btn">
					  <button class="btn btn-primary">搜索</button>
                                        </span>
				</div>
				<ul>
					<li><a href="#">减肥茶</a></li>
					<li><a href="#">优惠券</a></li>
					<li><a href="#">超值农药</a></li>
				</ul>
			</div>
			<div class="base-shopcar">
                            <span class="fa fa-shopping-cart"></span><a href="/Shop/user/myCart"> 我的购物车</a><span class="badge base-badge">4</span>
				<span class="fa fa-angle-right"></span>
			</div>
		</div>

	</body>

</html>