/*CSS基本重置样式*/
body,h1,h2,h3,h4,h5,h6,a,p,input,label,ul{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","arial black";
}
body{
	min-width: 1200px;
	font-size: 12px;
}
a{
	color: black;
	text-decoration: none;
	display: inline-block;
}
a:hover{
   color:#C90808;	
   text-decoration: none;
}
strong {
  font-weight: bold;
}
mark {
  color: #000;
  background: #ff0;
}
img {
  border: 0;
}
ul{
	list-style: none;
}
li{
	list-style-type: none;
}
a,
a:focus{
	outline: none;
	border: 0px;
}

.hide {
	display: none;
}
.show {
	display: block;
}
