.b-bigbox {
  background-color: white;
  border-top: 1px solid #F0F0F0;
  text-align: center;
}
.b-bigbox .b-navtop {
  width: 800px;
  height: 160px;
  margin: 0 auto;
}
.b-bigbox .b-navtop > div {
  border-left: 1px solid #EEE;
}
.b-bigbox .b-navtop div {
  float: left;
  width: 200px;
  height: 160px;
  text-align: center;
  border-right: 1px solid #EEE;
}
.b-bigbox .b-navtop div ul {
  margin-top: 30px;
}
.b-bigbox .b-navtop div ul p {
  font-size: 14px;
  font-weight: bold;
}
.b-bigbox .b-navtop div ul li {
  padding: 5px;
}
.b-bigbox .b-navtop div ul li a:hover {
  color: #466FFF;
}
.b-bigbox .b-bar {
  width: 100%;
  line-height: 30px;
  background-color: #466FFF;
}
.b-bigbox .b-bar a {
  color: white;
}
.b-bigbox .b-bar div {
  width: auto;
  height: 30px;
  display: inline-block;
}
.b-bigbox .b-bar div span {
  padding: 0 5px;
}
